# Python files
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Database files
*.db
*.db-journal
*.db-wal
data/

# Transformations dbt builds
transformations/target/
transformations/dbt_packages/
transformations/logs/
logs/

# IDE configurations
.idea/
.vscode/
.DS_Store
